@font-face{
    font-family: "Titillium";
    src: url('../fonts/SVN-Titillium-bold.ttf');
}
@font-face{
    font-family: "Alter Gothic";
    src: url('../fonts/UTM-Alter-Gothic.ttf');
}
body {
    font-family: "Alter Gothic";
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.clearfix {
    clear: both;
}
.page-title{
    position: relative;
    background-image: url(../images/background-01.jpg);
    background-size: cover;
    background-position: center center;
    padding-bottom: 55.34%;
    background-repeat: no-repeat;
}
.app-follow{
    position: absolute;
    right: 0px;
    top: 165px;
    z-index: 1;
}
.app-follow ul li{
    display: block;
    text-align: right;
    margin-bottom: 7px;
}
.app-follow ul li a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #E74E6D;
    display: inline-block;
    text-align: center;
    padding: 20px 15px;
    min-width: 90px;
    font-size: 0;
}
.app-follow ul li a:hover,
.app-follow ul li a:focus,
.app-follow ul li a:active {
    padding: 20px 40px;
}
.logo-actions {
    position: absolute;
    right: 400px;
    top: 140px;
    text-align: center;
}
.logo a{
    color:#fff;
    font-size: 0;
}
.logo h1{
    font-size: 75px;
    font-weight: 500;
    line-height: 1;
    margin-top: -7px;
    margin-bottom: 35px;
}
.site-actions .app-download >div {
    display: inline-block;
}
.site-actions .app-download .android-app {
    margin-left: 12px;
}
.site-actions .app-download a{
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0px;
}
.site-actions .app-download a:before{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255,0.25);
    content: '';
    -webkit-transition: all .6s;
    transition: all .6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, -150%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, -150%, 0);
}
.site-actions .app-download a:hover:before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, 150%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, -45deg) translate3d(0, 150%, 0);
}
.iso-app{
    position: relative;
    top: -1px;
}
/* main-wrap*/
.character-wrap{
    position: relative;
    margin-top: -240px;
    margin-bottom: -180px;
}
.character-wrap {
    text-align: center;
    z-index: 2;
    max-width: 1400px;
    margin: auto;
}
.video-trailers{
    position: relative;
    background-image: url("../images/background-02.jpg");
    background-size: cover;
    background-position: center center;
    padding-bottom: 52.78791036998437%;
    background-repeat: no-repeat;
}
.video-trailers .video-content{
    position: absolute;
    top: 450px;
    max-width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.video-content a{
    display: block;
    font-size: 0;
    text-align: center;
    margin-bottom: 10px;
}
.video-content .video-title{
    color: #FFC127;
    font-size: 56px;
}
.video-trailers .video-desc {
    bottom: 75px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Titillium';
    font-size: 36px;
}
.game-posts{
    position: relative;
    background-image: url(../images/background-03.jpg);
    background-size: cover;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
    background-position: center center;
    background-repeat: no-repeat;
}
.game-post-item{
    font-size: 0;
    float: left;
    width: 33.333%;
    padding-bottom: 50px;
    margin-top: -30px;
}
.game-post-item h3 {
    font-family: 'Titillium';
    font-size: 34px;
    color: #fff;
    position: relative;
    left: -30px;
    margin-top: 20px;
    display: inline-block;
}
.game-post-item h3:after {
    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
    -webkit-transform: scale3d(0,1,1);
    -moz-transform: scale3d(0,1,1);
    -o-transform: scale3d(0,1,1);
    transform: scale3d(0,1,1);
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;background-color: #fff;
    content: '';
    display: block;
    bottom: -2px;
}
.game-post-item h3:hover:after {
    -webkit-transform: scale3d(1,1,1);
    -moz-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transform-origin: 0% 50%;   
    -moz-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}
.main-footer{
    background-color: #666;
    padding: 30px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    text-transform: none;
    justify-content: center;
    align-items: center;
}
.main-footer .logo-footer{
    padding-right: 55px;
}
.main-footer a{
    margin-right: 20px;
    color: #fff;
}
.site-discriptions{
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}
